<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/javascripts/dashboard/dashboardViews.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/dashboard-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>


<body>
    <div class="menue">
        <ul>
            <li class="profile">

                <div class="profile-img">
                    <img src="" alt="profile">
                </div>
                <h2>mahmoud</h2>
            </li>

            <li>
                <a class="active data-link" href="/dashboard">
                    <i class=" fas fa-home"></i>
                    dashboard
                </a>
            </li>

            <li>
                <a class="data-link" href="/dashboard/clints">
                    <i class=" fas fa-user-group"></i>
                    clints
                </a>
            </li>

            <li>
                <a class="data-link" href="/dashboard/questions">
                    <i class=" fas fa-table"></i>
                    questions
                </a>
            </li>

            <li>
                <a class="data-link" href="/dashboard/posts">
                    <i class=" fas fa-pen"></i>
                    posts
                </a>
            </li>

            <li>
                <a class="data-link" href="/dashboard/settings">
                    <i class=" fas fa-cog"></i>
                    settings
                </a>
            </li>


            <li class="log-out ">
                <a href="">
                    <i class=" fas fa-sign-out"></i>
                    log out
                </a>
            </li>

        </ul>
    </div>

    <div class="content">
        
    </div>

    <script src="/javascripts/dashboard/dashboard.js"></script> 

</body>

</html>