<!doctybe html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style-reward.css">
    <title>اجابة استفهام</title>
  </head>

  <body>
    <header>
      <a class="nav" href="#" ><h1 >اجابة استفهام</h1></a>
      <nav>
      
          <a class="nav" href="sign_in">تسجيل الدخول</a>
          
          
          <a class="nav" href="/" >الرئيسية</a>
          <a class="nav3 nav" href="reward">الجوائز</a>
          <a href="questions/add" class=" nav">اضافة</a>                   
      </nav>
      
    </header>
    
    <main>
      
      
      
      
    
    
    </main>
    
    
    
    
    <footer dir="rtl">تمت برمجة الموقع بواسطة محمود احمد</footer>
    
  </body>
 

</html>